
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #161616;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #d6d6d6;
$white: #f0f0f0;

// Font stacks
$helvetica: 'Nanum Gothic', sans-serif;
$helveticaNeue: 'Nanum Gothic', sans-serif;
$georgia: 'Nanum Gothic', sans-serif;
// $font-family-main: 'Nanum Gothic', sans-serif;
// $font-family-headings: 'Nanum Gothic', sans-serif;
// $font-size: 1em;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
